/* This Awesome CSS file was created by Font Orgranizer from Hive :) */

body { font-family: 'Abril'!important; font-weight:normal!important;  }
h1 { font-family: 'Galano'!important; font-weight:700!important;  }
h2 { font-family: 'Galano'!important; font-weight:700!important;  }
h3 { font-family: 'Galano'!important; font-weight:700!important;  }
h4 { font-family: 'Galano'!important; font-weight:700!important;  }
h5 { font-family: 'Galano'!important; font-weight:700!important;  }
h6 { font-family: 'Galano'!important; font-weight:700!important;  }
p { font-family: 'Abril'!important; font-weight:normal!important;  }
q { font-family: 'Galano'!important; font-weight:normal!important;  }
li { font-family: 'Abril'!important; font-weight:normal!important;  }
a { font-family: 'Galano'!important; font-weight:normal!important;  }
